@{
    ViewBag.Title = "About";
}


    <h1 style="font-weight:bold;">VSA🎮GameHub Тим:</h1>

<ul style="font-size:18px">
    <li>Анѓелче Дамчевски - 181100</li>
    <li>Сашко Клинчаров - 181257</li>
    <li>Владо Димовски - 181182</li>
</ul>