@model VSA_GameHub.Models.GameToUser

@{
    ViewBag.Title = "BuyGame";
}

@using (Html.BeginForm("BuyGame", "Account", FormMethod.Post))
{
    @Html.HiddenFor(m => m.GameId)
    @Html.HiddenFor(m => m.UserId)

    <h2>Почитуван @Model.UserName</h2>
    <h2>Дали сте сигурни дека сакате да ја купите играта @Model.GameName ?</h2>

    <button class="btn btn-default" type="submit">Купи</button>
    <button class="btn btn-default"><a style="color:black;" href="~/Games/Index">Откажи</a></button>

}
