
@{
    ViewBag.Title = "NotAllowed";
}

<h2>Немате доволно кредити, внесете кредити.</h2>
<button class="btn btn-default"><a style="color:black;" href="~/Account/AddCredit">Внеси кредити</a></button>
<button class="btn btn-default"><a style="color:black;" href="~/Games/Index">Назад</a></button>

